.container {
    margin: 20px;
    display: grid;
    height: 500px;
    /* grid-template-columns: 200px 5rem 20% auto; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [row-1-start] 5rem [row-1-end row-2-start] minmax(10px, auto) [row-2-end row-3-start] 100px [row-3-end];
}

.el1 {
    background: orange;
}

.el2 {
    background: orangered;
    grid-column: 1 / -1;
    grid-row: row-2-start / span 1;
    z-index: 1;
}

.el3 {
    background: olive;
    /* grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: row-1-start;
    grid-row-end: row-2-end; */
    grid-area: row-1-start / 2 / row-2-end / span 3;
}

.el4 {
    background: greenyellow;
}